{% extends 'index.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load custemtemplates %}

{% block navlinks %}
            {% if user.is_authenticated %}
                        <form class="form-inline ml-auto mr-5" method="GET">
                        <input class="form-control mr-sm-2" type="search" style="width: 285px;height: 35px;" name="q" value="{{ request.GET.q }}" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success btn-sm" style="width: 85px;height: 30px;" type="submit">Search</button>
                        </form>
                        <ul class="navbar-nav " style="margin-right: 8%;">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" style="width: 80px; color: black;" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-users-cog fa-lg" style="margin-right: 10px;"></i><strong >{{user.first_name}}</strong>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-left " aria-labelledby="navbarDropdownMenuLink">
                                        <strong> 
                                            <a class="dropdown-item" href="{% url 'password_change' %}" >Change Password</a> 
                                            <a class="dropdown-item" onclick="conformation()" >Logout</a>
                                        </strong>
                                    </div>
                                </li>
                        </ul>
            {% endif %}
{% endblock %}

{% block container_block %}

 <style>
   .card-content{
        width: 350px;
        margin: auto;
        margin-bottom: 2em;
        padding:20px ;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.9) ;
        cursor: pointer;
        border: 3px solid white;
        border-radius: 3%;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.19), 0 4px 4px 0 rgba(0, 0, 0, 0.24);
        border: 2px solid transparent;

    }
    .card-content:hover{
            background-color: white;
            border: 2px solid #f2cf43;
    }



    
    .btn {
       
        width: 70px;
        height: 35px;
        margin-right: .5em;
    }
    
    
    #lefttext {
        text-align: left;
        font-weight: 700;
        line-height: 37px;
    }
    
    #righttext {
        text-align: left;
        border-radius: 10%;
        height: 37px;
        line-height: 37px;
    }
    
    .card-content>img {
        display: block;
        margin: auto;
        height: 150px;
        width: 150px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.19), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
        border-radius: .35em;

    }
    
    .price {
        text-align: left;
        margin: 10px;
        font-size: 1.5em;
        font-style: italic;
        font-weight: 600;
    }
.description{
        height: 50px;
        width: 95%;
        overflow: auto;
        margin: auto;
        text-align: left;
        margin-bottom: 5%;
        scrollbar-width: thin;
}
#top-container{
        padding: 0;margin: 0;
        width:100%;
        margin:auto;
        margin-top: 2%;
}
#catogorylist{
        list-style: none;
        padding: 0;
        margin: 0;
       
}
 #catogorylist>li {
        border-width: 2px;
        border-style: solid;
        border-color: #f2cf43 ;
        text-align: center;
        padding: .25em 1em;
        width: 175px;
        margin: auto;
        margin-top: 10px;
        border-radius: 15px;
        cursor: pointer;
        color: black;
        transition: 0.3s;
    }
    
    #catogorylist>li:hover {
        background-color: #fbb034;
        background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
        transform: scale(1.1);
        color: black;
    }
#postform{
    width: 70%;
    box-shadow: 0 4px 8px 0 #fbaf3493,0 6px 20px 0 #fbb03493;
    background-color: rgba(245, 245, 245, 0.9);
    padding: 3%;
    margin: auto;
    margin-bottom: 3%;
}
.badge{
        position: absolute;
        right:  1em;
        top: -1em;
        padding: .75em;
        text-align: center;
        border-radius: 1em;
        background-color: #f5d020;
        background-image: linear-gradient(315deg, #f5d020 0%, #f53803 74%);
        box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
        font-weight: 600;
        color: white;
}
.alert{
        position: fixed;
        left: 50%;
        top: 0em;       
        width: 30%;
        transform: translateX(-30%);
        z-index: 10;
        text-align: center;
        border-radius: 1.5em;
        line-height: .75em;
        background-color: #f5f186;
        background-image: linear-gradient(315deg, #f5f186 0%, #9dfbc8 74%);
        color: black;
        font-size: 1.2em;
        font-weight: 600;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
        transition: top ease-in-out 250ms;
}
.alert.activate{
        top: 3.5em;
}
.main-container{  
        background-image:  linear-gradient(rgba(255,255,255,.65), rgba(255,255,255,.65)),url("{% static 'logo.png'%}");  
    }
 </style>
 <p class="alert">Item added to user cart</p>
  <div class="row mt-2" style="position: relative;z-index: 5;">
            <div class="col-sm-2" style="border-right: 2px solid #f2cf43;">
                    <h4 style="text-align: center; margin-top:25px;text-decoration: underline;">Dashboard</h4>
                    <ul id="catogorylist">
                            <li id='opt1' data-option="Cart" onclick="options(this)">Cart</li>
                            <li id='opt2' data-option="Posted-Product" onclick="options(this)">Posted Product</li>
                            <li id='opt3' data-option="Requested-Product" onclick="options(this)">Requested Product</li>
                            <li id='opt4' data-option="Post-Product" onclick="options(this)">Post Product</li>
                            <li id='opt5' data-option="My-Orders" onclick="options(this)">My Orders</li>
                    </ul>
                    <hr>
                    <h4 style="text-align: center; margin-top:25px;text-decoration: underline;">Navigation</h4>
                    <ul id="catogorylist">
                            <li onclick="gotoHomepage()">Home Page</li>
                    </ul>
            </div>
           <div class="col-sm-10">
                    <div class="container-fluid mb-5" id="top-container" >
                        <h1 style="height: 30px;line-height: 30px;"><span class="ml-5" style="font-family: 'Yeon Sung', cursive;">Inventory</span></h1>
                        <div class="pagination mb-4" style="color: black; width:150px; margin: auto;text-align: center;background-color: white;">
                                        <span class="step-links">                                     
                                                <span class="current btn  btn-outline-dark btn-sm" style="width:150px;height: 30px;">
                                                Page {{ pagenumber.number }} of {{ pagenumber.paginator.num_pages }}.
                                                </span>
                                        </span>
                        </div>
                        <div class="container-fluid" style="width: 95%;">

                            {% if option == 'Cart' %}
                                         <div class="row">
                                                {%for one in objects %}
                                        
                                                        <div  class="col-sm-4" >
                                                                <div class="card-content"  onclick="detailvalue(this)" >
                                                                        <h4 id="lefttext" ><span style="margin-left: 5px;">{{one.product_id.Productname}}</span></h4>
                                                                        <img class="rounded" src="{{ one.product_id.product_mage.url }}" alt="Oh no image!" >
                                                                        <h2 class="price" >Rs.{{one.product_id.price }}</h2>
                                                                        <p class="description" >{{one.product_id.Description}}</p>
                                                                        <p class='product_id'style="display:none">{{one.product_id.Id}}</p>
                                                                        <p class='cart_id'style="display:none;">{{one.cart_id}}</p>
                                                                        <button class="btn btn-sm btn-outline-dark" onmouseover="addcontent(this,'Remove')" onmouseout="removecontent(this,'Cart')" onclick="event.stopPropagation();deletecart(this)"><i class="fas fa-shopping-cart fa-2x "></i></button>
                                                                        <button class="btn btn-sm btn-outline-dark"  onmouseover="addcontent(this,'Buy')" onmouseout="removecontent(this,'Buy')" onclick="event.stopPropagation();  createorder(this)"><i class="fas fa-money-check-alt fa-2x "></i></button>
                                                                </div>         
                                                        </div>
                                                        
                                                
                                                {% empty %}
                                                        <div class="conatiner" style="width:70%;margin: auto;">
                                                                <img src="{% static 'empty.png'%}" alt="No product match">
                                                        </div>
                                                {% endfor %}
                                        </div>
                            {% elif option == 'Requested-Product' %}
                                        <div class="row">
                                                {%for one in objects %}
                                        
                                                        <div  class="col-sm-4" >
                                                                <div class="card-content"  onclick="detailvalue(this)" >
                                                                        <h4 id="lefttext" ><span style="margin-left: 5px;">{{one.product_id.Productname}}</span></h4>
                                                                        <img class="rounded" src="{{ one.product_id.product_mage.url }}" alt="Oh no image!" >
                                                                        <h2 class="price" >Rs.{{one.product_id.price }}</h2>
                                                                        <p class="description" >{{one.product_id.Description}}</p>
                                                                        <p class='product_id'style="display:none">{{one.product_id.Id}}</p>
                                                                        <p class='cart_id order_id'style="display:none;">{{one.order_id}}</p>
                                                                        <p class='request_username'style="display:none;">{{one.user_id.username}}</p>
                                                                        <button class="btn btn-sm btn-outline-dark"  onmouseover="addcontent(this,'Sell')" onmouseout="removecontent(this,'Buy')" onclick="event.stopPropagation();sellproduct(this)"><i class="fas fa-money-check-alt fa-2x "></i></button>
                                                                        <a style="display: block; margin-top: 15px;" href="User/{{one.user_id.id}}/">Requested-User ->{{ one.user_id.first_name }}</a>
                                                                </div>         
                                                        </div>
                                                
                                        
                                                {% empty %}
                                                        <div class="conatiner" style="width:70%;margin: auto;">
                                                                <img src="{% static 'empty.png'%}" alt="No product match">
                                                        </div>
                                                {% endfor %}
                                        </div>
                            
                            {%elif option == 'Posted-Product' %} 

                                        <div class="row" >
                                                {%for one in objects %}
                                                        <div  class="col-sm-4" >
                                                                <div class="card-content"  onclick="detailvalue(this)" >
                                                                        <h4 id="lefttext" ><span style="margin-left: 5px;">{{one.Productname}}</span></h4>
                                                                        <img class="rounded" src="{{ one.product_mage.url }}" alt="Oh no image!" >
                                                                        <h2 class="price" >Rs.{{one.price }}</h2>
                                                                        <p class="description">{{one.Description}}</p>
                                                                        <p class='product_id'style="display:none">{{one.Id}}</p>
                                                                        {% if one.Id|getRequestBadge != 0 %}
                                                                                <p class="badge">{{one.Id|getRequestBadge}}</p>
                                                                        {% endif %}
                                                                        <button class="btn btn-sm btn-outline-dark" onmouseover="addcontent(this,'Remove')" onmouseout="removecontent(this,'Product')" onclick="event.stopPropagation();Removeproduct(this)"><i class="fas fa-shopping-cart fa-2x "></i></button>
                                                                </div>
                                                        </div>
                                                {% empty %}
                                                <div class="conatiner" style="width:70%;margin: auto;">
                                                        <img src="{% static 'empty.png'%}" alt="No product match">
                                                </div>
                                                {% endfor %}
                                        </div>
                            {%elif option == 'My-Orders' %}
                                        <div class="row">
                                                {%for one in objects %}
                                        
                                                        <div  class="col-sm-4" >
                                                                <div class="card-content"  onclick="detailvalue(this)" >
                                                                        <h4 id="lefttext" ><span style="margin-left: 5px;">{{one.product_id.Productname}}</span></h4>
                                                                        <img class="rounded" src="{{ one.product_id.product_mage.url }}" alt="Oh no image!" >
                                                                        <h2 class="price" >Rs.{{one.product_id.price }}</h2>
                                                                        <p class="description" >{{one.product_id.Description}}</p>
                                                                        <p class='product_id'style="display:none">{{one.product_id.Id}}</p>
                                                                        <p class='cart_id order_id'style="display:none;">{{one.order_id}}</p>
                                                                        {% if one.order_id|getOrderStatus == 'True' %}
                                                                                <button class="btn btn-sm btn-outline-dark" onmouseover="addcontent(this,'Cancel')" onmouseout="removecontent(this,'Cart')" onclick="event.stopPropagation();cancelorder(this)"><i class="fas fa-shopping-cart fa-2x "></i></button>
                                                                        {% endif %}
                                                                </div>         
                                                        </div>
                                                
                                        
                                                {% empty %}
                                                        <div class="conatiner" style="width:70%;margin: auto;">
                                                                <img src="{% static 'empty.png'%}" alt="No product match">
                                                        </div>
                                                {% endfor %}
                                        </div>
                            {% else %}                                   
                            <strong>
                                            <form method="post" id="postform" enctype="multipart/form-data" > 
                                                    <h3 style="text-align: left;padding-bottom: 2%;"><strong>Post Product Here</strong></h3>
                                                        {% csrf_token %}
                                                        {{ form|crispy }}
                                                    <button type="submit" class="btn btn-success">Post</button>
                                            </form>
                                    </strong>
                                    <script>
                                    $("#postform").ready(function(){
                                            $(".custom-file-label").remove()
                                            $("input[name=payment_qr]").removeClass("form-control custom-file-input")
                                            $("input[name=product_mage]").removeClass("form-control custom-file-input")
                                            $("input[name=Upload_date]").datepicker({
                                            changeMonth: true,
                                            changeYear: true
                                        });
                                    })
                                    </script>

                            {% endif %}
                        </div>
                    </div>
                <div class="pagination mt-4 mb-4" style="color: black;display: flex; justify-content: center;align-items:center;">
                            {% if pagenumber.has_previous %}
                                <a class="btn btn-primary btn-sm" href="?page=1" role="button" style="width:100px ;height: 30px;">&laquo; first</a>
                                <a class="btn btn-primary btn-sm" href="?page={{ pagenumber.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q}}{% endif %}" role="button" style="width:100px ;height: 30px;">previous</a>
                            {% endif %}
                    
                            <span class="current btn btn-warning btn-sm" style="width:150px;height: 30px;">
                                Page {{ pagenumber.number }} of {{ pagenumber.paginator.num_pages }}.
                            </span>
                    
                            {% if pagenumber.has_next %}
                                <a class="btn btn-primary btn-sm" href="?page={{ pagenumber.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q}}{% endif %}" role="button" style="width:100px ;height: 30px;">next</a>
                                <a class="btn btn-primary btn-sm" href="?page={{ pagenumber.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q}}{% endif %}" role="button" style="width:100px ;height: 30px;">last &raquo;</a>
                            {% endif %}
                    </div>
            </div>
        </div>

<script>
        $(document).ready(function(){
                $(".columns").fadeIn(1000);
                if (localStorage.getItem('cart_page')!=null){
                        $("#"+localStorage.getItem('cart_page')).css({
                           'background-color':'#fbb034',
                            'background-image':'linear-gradient(315deg, #fbb034 0%, #ffdd00 74%)'
                        })
                }else{
                    $("#opt1").css({
                           'background-color':'#fbb034',
                            'background-image':'linear-gradient(315deg, #fbb034 0%, #ffdd00 74%)'
                        })
                }

                if (localStorage.getItem('previousOperation')!=null){
                        var previousOperation = localStorage.getItem('previousOperation');
                        var message = null;
                        if(previousOperation === "deleteCart"){
                                message="Item successfully removed from cart";
                        }
                        else if(previousOperation === "removeProduct"){
                                message="Item successfully removed from product list";
                        }
                        else if(previousOperation === "createOrder"){
                                message="new order has been created successfully";
                        }
                        else if(previousOperation === "cancelOrder"){
                                message="order has been cancelled and added to cart";
                        }else{
                                sellProduct
                                message="Item sold to perticular user successfully";
                        }
                        localStorage.setItem('previousOperation',null)
                        getMessage(message);
                }

        }
       )

        function detailvalue(ptr) {
                var x = $(ptr).find('.product_id').text()
                window.location="{% url 'homepage' %}"+x+"/"
        }
                        
                        
        function conformation() {
                if(confirm("Are you sure you want to logout?")){
                window.location="{% url 'logout' %}"
                }
        }

        function addcontent(ptr,ch) {
                $(ptr).empty()
                if(ch =='Buy'){
                        
                        $(ptr).append("<i>Buy!</i>")
                }else{
                        $(ptr).append("<i>"+ch+"</i>")
                } 
        }
        function removecontent(ptr,ch) {
                $(ptr).empty()
                if(ch =='Buy'){ 
                        $(ptr).append("<i class='fas fa-money-check-alt fa-2x '></i>")
                }else{
                        $(ptr).append("<i class='fas fa-shopping-cart fa-2x '></i>")

                }
        }

        function deletecart(ptr){
                var cid = $(ptr).parent('.card-content').find('.cart_id').text()
                var pid = $(ptr).parent('.card-content').find('.product_id').text()
                if(confirm("Are you Sure you want to remove product from cart")){
                $.ajax({
                        url: "{% url 'cart_remove' %}",
                        type: "POST",
                        headers : {"X-CSRFToken":'{{ csrf_token }}'},
                        data : {"cart_id":cid,"productid":pid},
                        success : function name(params){
                                localStorage.setItem("previousOperation","deleteCart");
                                window.location="{% url 'cart_view' %}"
                        },
                        error : function name(params) {
                                alert("System error try after some time");
                        }
                })
                }
        }

        function options(ptr){
                $("#catogorylist").find('li').css('background-color','white')
                $("#catogorylist").find('li').css('color','black')
                $(ptr).css('background-color','rgb(127, 178, 212)')
                localStorage.setItem("cart_page",$(ptr).attr('id'))
                $.ajax({
                        url: "{% url 'cart_options' %}",
                        type: "POST",
                        headers : {"X-CSRFToken":'{{ csrf_token }}'},
                        data : {"cart_option":$(ptr).attr('data-option')},
                        success : function name(params){
                                window.location="{% url 'cart_view' %}"
                                
                        },
                        error : function name(params) {
                                alert("System error try after some time");
                        }
                })      
        }

        function Removeproduct(ptr){
                if(confirm("Are you Sure you want to delete product")){
                $.ajax({
                        url: "{% url 'remove_product' %}",
                        type: "POST",
                        headers : {"X-CSRFToken":'{{ csrf_token }}'},
                        data : {"product_id":$(ptr).parent('.card-content').find('.product_id').text()},
                        success : function name(params){
                                localStorage.setItem("previousOperation","removeProduct");
                                window.location="{% url 'cart_view' %}"                  
                        },
                        error : function name(params) {
                                alert("System error try after some time");
                        }
                })   
                }  
        }

        function createorder(ptr){
                //  on click of buy button should create order and remove perticular product from cart
                $.ajax({
                        url: "{% url 'create_order' %}",
                        type: "POST",
                        headers : {"X-CSRFToken":'{{ csrf_token }}'},
                        data : {
                                "product_id":$(ptr).parent('.card-content').find('.product_id').text(),
                                "cart_id":$(ptr).parent('.card-content').find('.cart_id').text()
                                },
                        success : function name(params){
                                localStorage.setItem("previousOperation","createOrder");
                                window.location="{% url 'cart_view' %}"                  
                        },
                        error : function name(params) {
                                alert("System error try after some time");
                        }
                })   
        }  
        

        function cancelorder(ptr){
           //  on click of cancel button should delete order and create perticular product entry in cart

                 if(confirm("Are you Sure you want to Cancel this order")){
                $.ajax({
                        url: "{% url 'cancel_order' %}",
                        type: "POST",
                        headers : {"X-CSRFToken":'{{ csrf_token }}'},
                        data : {
                                "order_id":$(ptr).parent('.card-content').find('.order_id').text(),
                                "product_id":$(ptr).parent('.card-content').find('.product_id').text(),
                                },
                        success : function name(params){
                                localStorage.setItem("previousOperation","cancelOrder");
                                window.location="{% url 'cart_view' %}"                  
                        },
                        error : function name(params) {
                                alert("System error try after some time");
                        }
                })   }  
        }

        function sellproduct(ptr){
                //  Code to buy a product
                //  at backend 1. remove product , 2. update order table and set status to done
                username = $(ptr).parent('.card-content').find('.request_username').text();
                if(confirm("Are you Sure you want to sell this product to "+username)){
                $.ajax({
                        url: "{% url 'product_sold' %}",
                        type: "POST",
                        headers : {"X-CSRFToken":'{{ csrf_token }}'},
                        data : {"product_id":$(ptr).parent('.card-content').find('.product_id').text(),
                                "order_id":$(ptr).parent('.card-content').find('.order_id').text()
                                },
                        success : function name(params){
                                localStorage.setItem("previousOperation","sellProduct");
                                window.location="{% url 'cart_view' %}"                  
                        },
                        error : function name(params) {
                                alert("System error try after some time");
                        }
                })   
                }  
        }

        function getMessage(message){
                $('.alert').text(message)
                $('.alert').toggleClass('activate')
                setTimeout(()=>{
                        $('.alert').toggleClass('activate')
                }, 2000)
        }

        function gotoHomepage(){
                window.location = "{% url 'homepage'%}"
        }

</script>
{% endblock %}